/* Main CSS page for Batbox Seattle website */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url("responsive.css");


@font-face {
    font-family: 'RookiePunk';
    src: url('/media/assets/RookiePunk.ttf');
}

@font-face {
    font-family: 'TopSecret';
    src: url('/media/assets/TopSecretStamp.ttf');
}

body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#header,
#footer {
    background-color: #000;
}

.punk {
    font-family: 'RookiePunk';
    letter-spacing: 0.1em;
}

p {
    font-size: 1.2rem;
    line-height: 120%;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0 0 0;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: white;
    padding: 2px 4px;
}

a:hover {
    background-color: #c3066b;
}

.header-nav,
.footer-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.header-nav {
    padding: 0 1rem;
    width: 100%;
    align-items: center;
}

.header-nav a:hover {
    background-color: #000;
}

.header-nav .header-nav-links a:hover {
    background-color: #c3066b;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    padding-top: 1.5rem;
    margin: 2rem 1rem 5rem 1rem;
}

.footer-left {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-left p {
    font-size: 0.9rem;
}

.footer-left img {
    margin-bottom: 1rem;
}

.footer-right {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-right-col {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: #999;
}

.hide-button {
    float: right;
    margin: 4px 4px;
    padding: 9px 18px;
    border-radius: 10px;
    background: rgba(90, 90, 90, 0.5);
    color: white;
    border: none;
}

.hide-button:hover {
    background: #FF57B2;
    color: #FFF;
    cursor: pointer;
}

.youtubeplayer {
    margin-top: 2rem;
    width: 60%;
    height: 60vh;
}

a.button-link,
a.button-link2 {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 6px 12px;
    margin-bottom: 1rem;
}

a.button-link {
    background-color: #FF57B2;
    color: white;
}

a.button-link2 {
    background-color: white;
    color: black;
}

a.button-link:hover,
a.button-link2:hover {
    background-color: #c3066b;
    color: white;
}

.header-nav a,
.footer-nav a {
    text-decoration: none;
}

.header-nav a {
    font-size: 2rem;
    color: white;
}

.footer-nav a {
    font-size: 1.5rem;
    color: white;
}

.header-nav-links,
.footer-nav-links {
    margin-left: 0.5rem;
}

.header-nav-links a,
.footer-nav-links a {
    margin-right: 1rem;
}

.bottom-spacer-3 {
    height: 3vh;
}

.bottom-spacer-7 {
    height: 7vh;
}

.bottom-spacer-10 {
    height: 10vh;
}

.section-divider,
.section-divider2 {
    width: 80%;
    max-width: 800px;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
}

.section-divider h2 {
    background-color: #D3FF58;
    color: black;
    letter-spacing: 0.1em;
    width: 100%;
}

.section-divider2 h2 {
    background-color: #FF57B2;
    color: white;
    letter-spacing: 0.1em;
    width: 100%;
}

.quote {
    border-bottom: 1px solid white;
    width: 75%;
    max-width: 800px;
    height: fit-content;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.image-container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.image-container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    display: block;
    max-height: 1200px;
}

.background-image2 {
    max-width: 100%;
    max-height: 40vh;
    height: auto;
    width: auto;
    display: block;
}

/* .background-image {
    max-height: 600px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
} */

.overlay-image1,
.overlay-image2 {
    position: absolute;
}

.overlay-image1 {
    top: 18%;
    left: 30%;
    width: 40%;
}

.overlay-image2 {
    top: 65%;
    left: 37%;
    width: 23%;
}

.textured-background,
.photo-background {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.floating-widget {
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    width: 20%;
    min-width: 400px;
}

.floating-widget iframe {
    height: 400px;
}

.textured-background {
    background-image: url('/media/assets/texture-background1.jpg');
    /* min-height: 55vh; */
    height: fit-content;
}

.photo-background {
    background-image: url('/media/images/1-batbox_hidive_lunniss.jpg');
    background-position: center 15%;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
}


/* ====== */

#tour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tour-component {
    display: flex;
    width: 80%;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 2rem 0;
    border-bottom: 1px solid white;
}

.tour-date {
    font-family: 'TopSecret';
    background-color: black;
    padding: 0.5rem 1rem 1rem 1rem;
    width: 15%
}

.tour-text {
    text-align: left;
    width: 60%;
}


/* ====== */

.section-button {
    margin: 3rem 0;
}

.album-container {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    max-width: 1200px;
    justify-content: center;
    align-items: flex-start;
    margin: 4rem auto;
    gap: 4rem;
}

.album-image-container {
    flex: 0 0 auto;
}

.album-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.album-details {
    text-align: left;
}

.album-title,
.album-description {
    max-width: 500px;
}

.album-title h2 {
    font-size: 3rem;
}

.album-description ol li {
    justify-content: space-between;
    align-items: center;
}

.album-links {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.album-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-right: 1rem;
    width: fit-content;
    margin-bottom: 2rem;
}

.album-image-index {
    width: 100%;
    max-width: 250px;
}

.album-image-music {
    width: 100%;
    max-width: 500px;
}

.paragraph-container {
    text-align: left;
    width: 60%;
    max-width: 600px;
    min-height: 350px;
    margin-top: 2rem;
}

.video-2col {
    display: flex;
    width: 80%;
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
}

.video-2col iframe {
    margin-top: 2rem;
    width: 45%;
    height: 30vh;
}

ol li {
    width: 110%;
    line-height: 200%;
    font-size: 1.2rem;
}

ol li b {
    color: #D3FF58;
}

ol li span.songtime {
    float: right;
}


.image-collage {
    display: flex;
    width: 100%;
    height: auto;
}

.image-collage:nth-child(0) {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.image-collage > .ic-container:nth-child(n) img {
    filter: brightness(75%);
}

.ic-container {
    overflow: hidden;
}

.ic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.guest-component {
    display: flex;
    width: 80%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.guest-name {
    margin-right: 1rem;
    width: 20%;
}

.guest-name h3 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

.guest-description {
    text-align: left;
    width: 50%;
}

.guest-description p {
    margin-top: 0;
}


.header-nav-links.social a:hover,
.footer-right-col a:hover {
    color: #FF57B2;
    background: none;
}

a.image-link {
    padding: 0;
}

a.image-link:hover {
    background: none;
}
