@import url("album/album.css");
@import url("carousel/carousel.css");
@import url("image-collage/image-collage.css");
@import url("members/members.css");
@import url("player/player.css");
@import url("shows/shows.css");
@import url("quote/quote.css");
@import url("/dist/node_modules/@fortawesome/fontawesome-free/css/all.min.css");

:root {
  --primary-color: #b02d74;
  --secondary-color: #d3ff58;
}

@font-face {
  font-family: RookiePunk;
  src: url("/media/fonts/RookiePunk.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.hide {
  display: none !important;
}

.textured-background,
.photo-background {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.textured-background {
  background-image: url("/media/assets/texture-background.jpg");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: repeat-y;
  height: fit-content;
}

.photo-background {
  background-image: url("/media/assets/1-batbox_hidive_lunniss.jpg");
  background-position: center 15%;
  background-color: rgb(0 0 0 / 60%);
  background-blend-mode: darken;
}

.punk {
  font-family: RookiePunk, sans-serif;
  letter-spacing: 0.1em;
}

p,
li {
  font-size: 1.5rem;
  line-height: 120%;
}

h2,
.large-text {
  font-size: 3rem;
  margin: 1rem 0 0;
}

a {
  color: white;
  text-decoration: none;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

a,
button {
  cursor: pointer;
}

a:hover {
  background-color: var(--primary-color);
}

a.large-text {
  display: inline-block;
}

.text-link {
  padding: 0 0.5rem;
}

.icon-link {
  display: inline-flex;
  padding: 0.5rem;
  letter-spacing: normal;
}

.button-link {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  margin: 3rem 1rem;
}

.button-link:hover {
  background-color: var(--primary-color);
  color: white;
}

.anchor-link,
.anchor-link:hover {
  all: inherit;
}

.spacer {
  height: 7vh;
}

.section-divider {
  width: 40%;
  min-width: 20rem;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.section-style-1,
.section-style-2 {
  letter-spacing: 0.1em;
  width: 100%;
  padding-left: 0.3rem;
}

.section-style-1 {
  background-color: var(--primary-color);
  color: white;
}

.section-style-2 {
  letter-spacing: 0.1em;
  width: 100%;
  padding-left: 0.3rem;
  background-color: var(--secondary-color);
  color: black;
}

.image-container {
  position: relative;
  width: 100%;
}

.overlay-image {
  position: absolute;
}

.paragraph-container {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  overflow-wrap: anywhere;
}
