.album-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5%;
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  box-sizing: border-box;
}

.album-image {
  flex: 1;
  max-width: 100%;
  min-width: 40%;
  height: auto;
  box-sizing: border-box;
}

.album-details {
  flex: 1;
  max-width: 100%;
  text-align: left;
  box-sizing: border-box;
  text-wrap: pretty;
}

.album-links {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.album-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-right: 1rem;
  width: fit-content;
  margin-bottom: 2rem;
}
