@import url("../node_modules/swiper/swiper-bundle.css");

.swiper {
  width: 80%;
  aspect-ratio: 16 / 9;
}

.swiper-slide {
  top: 0;
  left: 0;
}

.swiper-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination-bullet {
  background-color: var(--primary-color);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--secondary-color);
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  padding: 1rem;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--primary-color);
}

.carousel-download-button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  z-index: 20; /* must be higher than all of the other carousel elements */
  font-size: 2rem;
  padding: 1rem;
}
